<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:beans="http://www.springframework.org/schema/mvc"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">


    <!--<bean class="org.springframework.beans.factory.annotation.AutowiredAnnotationBeanPostProcessor"/>-->

    <!--<bean class="org.springframework.beans.factory.annotation.RequiredAnnotationBeanPostProcessor"/>-->
    <bean id="database" class="com.ttn.exercise3.Database">
        <property name="port" value="8181"/>
        <property name="name" value="TestDB"/>
    </bean>

    <!--<context:component-scan base-package="com.ttn.EventListeners"/>-->
    <!--<context:component-scan base-package="com.ttn.EventHandlers"/>-->

    <bean id="myCustomEventHandler" class="com.ttn.exercise3.CustomEventHandler"/>
    <!--<bean id="myCustomEventPublisher" class="com.ttn.exercise3.CustomEventPublisher"/>-->


    <!--<bean
            class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="prefix" value="/views/" />
        <property name="suffix" value=".jsp" />
    </bean>



    <bean id="restaurantRepository" class="com.ttn.exercise1.RestaurantRepository"/>
    <bean id="hotDrink" class="com.ttn.exercise1.Tea"/>
    <bean id="expressTea" class="com.ttn.exercise1.ExpressTea"/>
    <bean id="restaurant" class="com.ttn.exercise1.Restaurant">
    </bean>-->


        <!--<bean id="expressTeaRestaurant" class="com.ttn.Restaurant">
            <property name="tea" ref="expressTea"/>
        </bean>-->

    <!--<bean id="complexBean" class="com.ttn.Complex">
        <property name="list">
            <list>
                <value>1</value>
                <value>2</value>
                <value>3</value>
                <value>4</value>
                <value>5</value>
            </list>
        </property>
        <property name="set">
            <set>
                <value>Value1</value>
                <value>Value2</value>
                <value>Value3</value>
                <value>Value4</value>
                <value>Value5</value>
            </set>
        </property>
        <property name="map">
            <map>
                <entry key="Key 1" value="1" />
                <entry key="Key 2" value="2" />
                <entry key="Key 3" value="3" />
                <entry key="Key 4" value="4" />
                <entry key="Key 5" value="5" />
            </map>
        </property>
    </bean>-->

    <!--<bean id="hotDrink" class="com.ttn.Tea"/>
    <bean id="expressTea" class="com.ttn.ExpressTea"/>
    <bean id="expressTeaRestaurant" class="com.ttn.Restaurant" scope="prototype">
        <property name="hotDrink" ref="expressTea"/>
    </bean>-->

    <!--<bean id="database" class="com.ttn.Database">
        <property name="port" value="8181"/>
        <property name="name" value="TestDB"/>
    </bean>-->

    <!--<bean id="tea" class="com.ttn.Tea"/>
    <bean id="expressTea" class="com.ttn.ExpressTea"/>
    <bean id="teaRestaurant" class="com.ttn.Restaurant">
        <property name="tea" ref="tea"/>
    </bean>-->

</beans>